@{
    ViewData["Title"] = "Profile";
    if (TempData["loginExists"] != null)
    {
        <script>
            alert("Takýto login je už zabratý!");
        </script>
        TempData.Remove("loginExists");
    }
}

@model BlogApp.Models.User;

<div class="row d-flex justify-content-center align-items-center w-100 px-5">
    <div class="col-md-8 col-lg-6 col-xl-5 mb-sm-3 offset-xl-1 py-lg-5 profile-container">
        <div class="profile-image-container mb-4">
            <img src="@Model.ImagePath" alt="user photo" class="rounded-circle col-lg-3 ms-lg-3 profile-whoami-img not-distorted">
        </div>
        <h4 class="mb-3">Profile settings</h4>
        <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Name">First Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="@Model.Name">
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Surname">Last name</label>
                    <input asp-for="Surname" type="text" type="text" class="form-control" placeholder="@Model.Surname">
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Nick">Nick</label>
                <div class="input-group">
                    <input asp-for="Nick" type="text" type="text" class="form-control" placeholder="@Model.Nick">
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Login">Login</label>
                <input asp-for="Login" type="text" type="text" class="form-control" placeholder="@Model.Login">
            </div>
            <div class="mb-3">
                <label class="form-label">Profilová fotka:</label>
                <input type="file" name="image" id="image" class="form-control" accept="image/*">
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="text-start">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save changes</button>
                <a onclick="confirmAction('/Profile/DeleteProfile')" class="btn btn-primary btn-lg btn-block danger">Delete profile</a>
            </div>
        </form>
    </div>
    <div class="col-md-9 col-lg-6 col-xl-6 my-lg-5">
        <img src="images/undraw_wall-post_e47r.svg" class="img-fluid" alt="Login image">
    </div>
</div#if>

@section Scripts {
    <script>
            function confirmAction(url) {
                if (confirm("Naozaj chcete vykonať túto akciu?")) {
                    window.location.href = url;
                } else {
                    console.log("Akcia bola zrušená.");
                }
            }
    </script>
}