@{
    var idLoggedUser = Context.Session.GetInt32("userId");
}
@model BlogApp.Models.BlogBlogViewModel

<div class="comments-section border">

    <div>
        <h4>Add a Comment</h4>
        <form asp-action="AddComment" asp-controller="Blog" method="post">
            <!-- Skryté pole na identifikáciu blogu -->
            <input type="hidden" name="blogId" value="@Model.Blog.Id"/>

            <!-- Pole na zadanie obsahu komentára -->
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <textarea name="content" class="form-control" placeholder="Write your comment here" rows="2" required></textarea>
            </div>

            <!-- Tlačidlo na odoslanie -->
            <button type="submit" class="btn btn-primary">Submit Comment</button>
        </form>
    </div>
    <div class="comments-section-comments">
        <h4>Comments</h4>
        @foreach (var comment in Model.Comments)
        {
            <div class="comment" id="@comment.Id">
                <p>
                    <img src="@Model.Users.Where(u => u.Id == comment.UserId).FirstOrDefault()?.ImagePath" alt="user photo" class="rounded-circle blog-comment-whoposted-img not-distorted">
                    @Model.Users.Where(u => u.Id == comment.UserId).FirstOrDefault().Nick : @comment.Body
                    @if (comment.UserId == idLoggedUser.Value)
                    {
                        <br>
                        <form method="post" asp-action="DeleteComment" asp-controller="Blog">
                            <input type="hidden" name="commentId" value="@comment.Id" />
                            <button type="submit" class="btn btn-danger btn-sm ms-2 delete-comment">Delete</button>
                        </form>
                    }
                </p>
            </div>
        }
    </div>
</div>