@{
    var idLoggedUser = Context.Session.GetInt32("userId");
}
@model BlogApp.Models.BlogBlogViewModel

<div class="comments-section border">
    @if (Context.Session.GetInt32("userId") > 0)
    {
        <div>
            <h4>Add a Comment</h4>
            <form id="commentForm" asp-action="AddComment" asp-controller="Blog" method="post">
                <input type="hidden" name="blogId" value="@Model.Blog.Id"/>

                <div class="mb-3">
                    <textarea id="content" name="content" class="form-control" placeholder="Write your comment here" rows="2" required></textarea>
                </div>

                <button type="submit" class="btn btn-sm btn-primary">Submit Comment</button>
            </form>
        </div>
    }
    @if (Model.Comments.Any())
    {
    <div class="comments-section-comments">
        <h4>Comments:</h4>
        @foreach (var comment in Model.Comments)
        {
            <div class="comment" id="@comment.Id">
                <p>
                    <div class="comment-owner">
                        <img src="@Model.Users.Where(u => u.Id == comment.UserId).FirstOrDefault()?.ImagePath" alt="user photo" class="rounded-circle blog-comment-whoposted-img not-distorted">
                        @Model.Users.Where(u => u.Id == comment.UserId).FirstOrDefault().Nick
                    </div>
                    <div class="comment-body">
                        @comment.Body
                    </div>
                    @if (comment.UserId == idLoggedUser.Value)
                    {
                        <br>
                        <form method="post" asp-action="DeleteComment" asp-controller="Blog">
                            <input type="hidden" name="commentId" value="@comment.Id" />
                            <button type="submit" class="btn btn-danger btn-sm ms-2 delete-comment">Delete</button>
                        </form>
                    }
                </p>
            </div>
        }
    </div>
    }
</div>

<script>
    document.getElementById("commentForm").onsubmit = function (event) {
        let content = document.getElementById("content").value;

        if (content === "") {
            alert("Comment cannot be empty.");
            event.preventDefault();
        }
    }
</script>
